@font-face {
  font-family: 'Neon Online';
  src: url(../fonts/I_am_online_with_u.ttf) format("truetype"), url(../fonts/I_am_online_with_u.woff) format("woff"); }

@font-face {
  font-family: 'Neon2';
  src: url(../fonts/neon2.ttf) format("truetype"), url(../fonts/neon2.woff) format("woff"); }

@keyframes Swing-front {
  0% {
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0; }
  90% {
    opacity: 0.75; }
  100% {
    transform-origin: top;
    transform: scaleY(1);
    opacity: 1; } }

@keyframes Fade-from-left {
  0% {
    opacity: 0;
    transform: translate3d(50px, 0, 0); }
  80% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0, 0); } }

@keyframes Fade-from-right {
  0% {
    opacity: 0;
    transform: translate3d(-50px, 0, 0); }
  80% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0, 0); } }

@keyframes neonFlicker {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 35px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.5), 0 0 75px rgba(255, 255, 255, 0.5);
    color: white; }
  80% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 35px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.5), 0 0 75px rgba(255, 255, 255, 0.5);
    color: white; }
  90% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    color: rgba(214, 214, 214, 0.3); }
  100% {
    text-shadow: 0 0 10px rgba(58, 58, 58, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5), 0 0 70px rgba(255, 255, 255, 0.5), 0 0 80px rgba(255, 255, 255, 0.5), 0 0 100px rgba(255, 255, 255, 0.5), 0 0 150px rgba(255, 255, 255, 0.5);
    color: white; } }

@keyframes Fade-in {
  0% {
    display: none;
    opacity: 0; }
  20% {
    display: block;
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes Hue-rotate {
  0% {
    filter: hue-rotate(0); }
  100% {
    filter: hue-rotate(180deg); } }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden; }

.main {
  margin-top: 60px; }

.nav .row, .nav__list {
  min-width: 100%; }

.nav {
  box-shadow: 0px 3px 28px 1px rgba(0, 0, 0, 0.75);
  background-color: rgba(53, 53, 53, 0.95);
  animation: Swing-front 0.5s ease-in-out; }

.nav-link {
  font-family: Neon2;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.7) !important;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  transition: all 0.75s; }

.nav-link:hover {
  color: white !important;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 70px;
  transition: all 0.5s; }

body {
  position: relative;
  /*     background-color: anthracit;
    background: linear-gradient(217deg, rgba(255,0,0,.5), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.5), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.5), rgba(0,0,255,0) 70.71%); */
  animation: Hue-rotate 5s infinite alternate; }
  body:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(217deg, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.5), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0) 70.71%); }

body, html {
  overflow-x: hidden; }

.object {
  padding: 40px;
  background-color: rgba(53, 53, 53, 0.45);
  border-radius: 20px;
  box-shadow: 0px 3px 28px 1px rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  align-items: center;
  transform: scale(1);
  transition: all 0.15s ease-in;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  backface-visibility: hidden;
  animation: Fade-from-left 0.5s ease-out; }
  .object:hover {
    background-color: rgba(53, 53, 53, 0.55);
    transform: scale(1.1);
    transition: all 0.5s ease-out; }
  .object__title {
    font-family: 'Neon Online', cursive;
    font-size: 10em;
    animation: neonFlicker 1.5s ease-in-out infinite alternate, Fade-in 2s;
    position: relative;
    z-index: 1; }
  .object-container {
    position: relative;
    padding: 40px; }
  .object-container:hover .object__bg,
  .object-container:focus .object__bg {
    filter: blur(10px) saturate(1) hue-rotate(180deg);
    transition: all 3s ease-out; }
  .object__bg {
    position: absolute;
    display: block;
    opacity: 0.6;
    z-index: -2;
    top: 0;
    left: -40vw;
    width: 180vw;
    height: 100%;
    background-position: 50%;
    background-size: 800%;
    background-color: #353535;
    filter: blur(10px) saturate(1) hue-rotate(0deg);
    transition: all 1.5s ease-out;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    animation: Fade-in 4s; }

.image {
  width: 200px;
  opacity: 1;
  animation: Fade-in 0.25s;
  border-radius: 10px;
  box-shadow: 0px 3px 28px 1px rgba(0, 0, 0, 0.6); }
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center; }
