/* STYLING FOR COLLAPSE BURGER */
/* * Collapse */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger {
  position: relative;
  z-index: 2000;
  padding: 10px 10px;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  @media (max-width: 576px) {
    .hamburger {
      display: inline-block; } }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

@font-face {
  font-family: 'Neon Online';
  src: url(../fonts/I_am_online_with_u.ttf) format("truetype"), url(../fonts/I_am_online_with_u.woff) format("woff"); }

@font-face {
  font-family: 'Neon2';
  src: url(../fonts/neon2.ttf) format("truetype"), url(../fonts/neon2.woff) format("woff"); }

@keyframes Swing-front {
  0% {
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0; }
  90% {
    opacity: 0.75; }
  100% {
    transform-origin: top;
    transform: scaleY(1);
    opacity: 1; } }

@keyframes Fade-from-left {
  0% {
    opacity: 0;
    transform: translate3d(50px, 0, 0); }
  80% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0, 0); } }

@keyframes Fade-from-right {
  0% {
    opacity: 0;
    transform: translate3d(-50px, 0, 0); }
  80% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0, 0); } }

@keyframes neonFlicker {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 35px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.5), 0 0 75px rgba(255, 255, 255, 0.5);
    color: white; }
  80% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 35px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.5), 0 0 75px rgba(255, 255, 255, 0.5);
    color: white; }
  90% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    color: rgba(214, 214, 214, 0.3); }
  100% {
    text-shadow: 0 0 10px rgba(58, 58, 58, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5), 0 0 70px rgba(255, 255, 255, 0.5), 0 0 80px rgba(255, 255, 255, 0.5), 0 0 100px rgba(255, 255, 255, 0.5), 0 0 150px rgba(255, 255, 255, 0.5);
    color: white; } }

@keyframes Fade-in {
  0% {
    display: none;
    opacity: 0; }
  20% {
    display: block;
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes Fade-in-05 {
  0% {
    display: none;
    opacity: 0; }
  20% {
    display: block;
    opacity: 0; }
  100% {
    opacity: 0.5; } }

@keyframes Hue-rotate {
  0% {
    filter: hue-rotate(0); }
  100% {
    filter: hue-rotate(180deg); } }

@keyframes Fade-from-top {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  80% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes Fade-out {
  0% {
    opacity: 0;
    display: none; }
  1% {
    opacity: 1; }
  80% {
    opacity: 0.9; }
  99% {
    opacity: 0; }
  100% {
    display: none; } }

body {
  position: relative;
  background-color: rgba(53, 53, 53, 0.75);
  overflow: hidden;
  height: 100%;
  margin: 0;
  /* 
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: calc(120%);
    background: linear-gradient(
        217deg,
        rgba(255, 0, 0, 0.5),
        rgba(255, 0, 0, 0) 70.71%
      ),
      linear-gradient(127deg, rgba(0, 255, 0, 0.5), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0) 70.71%);

    animation: Hue-rotate 15s infinite alternate;
  } */ }

body, html {
  overflow-x: hidden; }

.main {
  padding-top: 20px; }
  @media (max-width: 576px) {
    .main {
      padding-top: 0px; } }

.nav .row,
.nav__list {
  min-width: 100%; }

.nav {
  box-shadow: 0px 14px 72px 1px rgba(0, 0, 0, 0.65);
  background-color: rgba(53, 53, 53, 0.95); }
  @media (max-width: 576px) {
    .nav {
      height: 45px;
      padding: 0; } }
  @media (max-width: 576px) {
    .nav__list {
      box-shadow: 0px 14px 72px 1px rgba(0, 0, 0, 0.65);
      background-color: rgba(53, 53, 53, 0.95);
      text-align: center;
      position: relative;
      top: -5px;
      border-top: 1px solid rgba(0, 0, 0, 0.2); } }

.nav-link {
  font-family: Neon2;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.7) !important;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  transition: all 0.75s; }
  .nav-link:hover {
    color: white !important;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 70px;
    transition: all 0.5s;
    cursor: pointer; }

@media (max-width: 576px) {
  .collapse:not(.show) {
    display: block;
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.25s, opacity 0.15s; } }

@media (max-width: 576px) {
  .collapse.show {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.25s, opacity 0.15s; } }

.object {
  position: relative;
  z-index: 2;
  padding: 40px;
  margin-top: 60px;
  background-color: rgba(53, 53, 53, 0.45);
  border-radius: 20px;
  box-shadow: 0px 14px 72px 1px rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  transition: all 0.15s ease-in;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  backface-visibility: hidden; }
  .object__title {
    font-family: "Neon Online", cursive;
    width: 120%;
    font-size: 12em;
    margin-top: 40px;
    animation: neonFlicker 1.5s ease-in-out infinite alternate, Fade-in 2s;
    position: relative;
    z-index: 2; }
    @media (max-width: 576px) {
      .object__title {
        font-size: 4em; } }
  .object__title p {
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.35);
    background-color: rgba(53, 53, 53, 0.45);
    z-index: 3; }
  .object__container {
    position: relative;
    padding: 40px; }
    @media (max-width: 576px) {
      .object__container {
        padding: 0; } }
  .object__bg, .object__title-bg {
    position: absolute;
    display: block;
    z-index: 1;
    top: -5%;
    left: -20vw;
    width: 120vw;
    height: 150%;
    background-position: 50%;
    background-size: 100%;
    background-color: #353535;
    filter: blur(60px) saturate(1.4) brightness(1.1);
    transition: background-size 10s ease-in-out, filter 10s ease-out, opacity 10s  ease-out;
    animation: Fade-in-05 4s; }
    @media (max-width: 576px) {
      .object__bg, .object__title-bg {
        background-size: 80%;
        filter: blur(50px) saturate(1.9) brightness(1); } }
  .object__title-bg {
    top: -20%;
    height: 140%;
    z-index: -2;
    background-size: 400%; }
  .object__container:hover .object__bg,
  .object__container:focus .object__bg,
  .object__container:active .object__bg {
    filter: blur(60px) saturate(1.6) brightness(1);
    background-size: 250%;
    transition: background-size 2s ease-out, filter 2s ease-out, opacity 2s ease-out; }
    @media (max-width: 576px) {
      .object__container:hover .object__bg,
      .object__container:focus .object__bg,
      .object__container:active .object__bg {
        background-size: 500%;
        filter: blur(50px) saturate(1.9) brightness(1); } }
  .object__image {
    width: 100%;
    opacity: 1;
    animation: Fade-in 0.5s;
    border-radius: 10px;
    box-shadow: 0px 14px 72px 1px rgba(0, 0, 0, 0.65); }
  .object__image-container {
    display: flex;
    align-items: center;
    justify-content: center; }

/* .main {
    transform: translateY(0);
}

.nav-link.MenuItem1:focus  .main {
     transform: translateY(0);
}

.nav-link.MenuItem2:focus ~ .main {
     transform: translateY(2068px);
} */
