@font-face {
    font-family: 'Neon Online';
    src: url(../fonts/I_am_online_with_u.ttf) format('truetype'),
        url(../fonts/I_am_online_with_u.woff) format('woff');
  }

  @font-face {
    font-family: 'Neon2';
    src: url(../fonts/neon2.ttf) format('truetype'),
        url(../fonts/neon2.woff) format('woff');
  }