body {
  position: relative;
  background-color: $anthracit-75;
  overflow: hidden;
  height: 100%;
  margin: 0;
}

body,
html {
  overflow-x: hidden;
}

.main {
  padding-top: 45px;

  @media (max-width: $screen-md-max) {
    padding-top: 45px;
  }
}
