.nav .row,
.nav__list,
.navbar-nav {
  min-width: 100%;
}

.nav {
  box-shadow: $strong-shadow;
  background-color: $anthracit-95;
  border-bottom: 1px solid $white-glass;

  @media (max-width: $screen-md-max) {
    height: 45px;
    padding: 0;
  }

  &__list {
    @media (max-width: $screen-md-max) {
      box-shadow: $strong-shadow;
      background-color: $anthracit-95;
      left: 0;
      right: 0;
      margin: auto;
      width: 100vw;
      text-align: center;
      position: relative;
      top: -5px;
      border-top: 1px solid $black-02;
    }
  }

  &__list-container .container {
    max-width: 1140px;
  }

  &__item {
    position: relative;
  }

  &__item-link {
    font-family: "Abril Fatface", cursive;
    font-size: 1.8em;
    display: block;
    color: $black-04 !important;
    transition: color 0.7s 0.15s;

    &:hover {
      cursor: pointer;
      color: $black-07 !important;
      transition: color 0.25s;
    }
    
    &--effekt {
      position: absolute;
      color: white !important;
      z-index: 4;
      top: 0px;
      overflow: hidden;
      width: 100px;
      white-space: nowrap;
    }
  }
}

.collapse:not(.show) {
  @media (max-width: $screen-md-max) {
    display: block;
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.25s, opacity 0.15s;
  }
}

.collapse.show {
  @media (max-width: $screen-md-max) {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.25s, opacity 0.15s;
  }
}
