.object {
  position: relative;
  z-index: 2;
  padding: 40px;
  margin-top: 60px;

  background-color: $anthracit-45;
  border-radius: 20px;
  box-shadow: $strong-shadow;
  color: white;
  display: flex;
  align-items: center;
  // transition: all 0.15s ease-in;
  // transform: translate3d(0, 0, 0);

  backface-visibility: hidden;

  &__title {
    font-family: "Neon Online", cursive;
    width: 120%;
    font-size: 12em;
    margin-top: 40px;
    animation: neonFlicker 1.5s ease-in-out infinite alternate, Fade-in 2s;
    position: relative;
    z-index: 2;

    @media (max-width: $screen-xs-max) {
      font-size: 4em;
    }
  }

  &__title p { 
    box-shadow: $stronger-shadow;
    background-color: $anthracit-45;
    z-index: 3;
  }

  &__container {
    position: relative;
    padding: 40px;

    @media (max-width: $screen-xs-max) {
      padding: 0;
    }
  }

  &__bg, &__title-bg  {
    position: absolute;
    display: block;
    z-index: 1;
    top: -5%;
    left: -20vw;
    width: 120vw;
    height: 150%;

    background-position: 50%;
    background-size: 100%;
    background-color: $anthracit;
    filter: blur(60px) saturate(1.4) brightness(1.1);

    @media (max-width: $screen-xs-max) {
      background-size: 80%;
      filter: blur(50px) saturate(1.9) brightness(1);
    }

    transition: background-size 10s ease-in-out, filter 10s ease-out, opacity 10s  ease-out;
    animation: Fade-in-05 4s;
  }

  &__title-bg  {
    top: -20%;
    height: 140%;
    z-index: -2;
    background-size: 400%;
  }

  &__container:hover &__bg,
  &__container:focus &__bg,
  &__container:active &__bg {
    filter: blur(60px) saturate(1.6) brightness(1);
    background-size: 250%;

    @media (max-width: $screen-xs-max) {
      background-size: 500%;
      filter: blur(50px) saturate(1.9) brightness(1);
    }
    transition: background-size 2s ease-out, filter 2s ease-out, opacity 2s ease-out;
  }

  &__image {
    width: 100%;
    opacity: 1;
    animation: Fade-in 0.5s;
    border-radius: 10px;
    box-shadow: $strong-shadow;
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
