.object {
  position: relative;
  z-index: 2;
  padding: 40px;
  background-color: $anthracit-45;
  border-radius: 20px;
  box-shadow: $strong-shadow;
  color: white;
  display: flex;
  align-items: center;
  transition: all 0.15s ease-in;
  transform: translate3d(0, 0, 0);
  will-change: transform;

  backface-visibility: hidden;
  animation: Fade-from-left 0.5s;

  &__title {
    font-family: "Neon Online", cursive;
    font-size: 10em;
    animation: neonFlicker 1.5s ease-in-out infinite alternate, Fade-in 2s;
    position: relative;
    z-index: 2;
    box-shadow: $stronger-shadow;
    background-color: $anthracit-45;
  }

  &__container {
    position: relative;
    padding: 40px;
  }

  &__bg {
    position: absolute;
    display: block;
    opacity: 0.5;
    z-index: 1;
    top: -25%;
    left: -10vw;
    width: 120vw;
    height: 150%;

    background-position: 50%;
    background-size: 800%;
    background-color: $anthracit;
    filter: blur(70px) saturate(1);
    will-change: transform;

    transition: all 2.5s ease-out;
    animation: Fade-in 4s;
  }

  &__container:hover &__bg,
  &__container:focus &__bg {
    filter: blur(70px) saturate(1.3);
    opacity: 1;
    transition: all 4s ease-out;
    background-size: 600%;
  }

  &__image {
    width: 100%;
    opacity: 1;
    animation: Fade-in 0.25s;
    border-radius: 10px;
    box-shadow: $strong-shadow;
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
