  @font-face {
    font-family: 'Neon Online';
    src: url(I_am_online_with_u.ttf) format('truetype'),
        url(I_am_online_with_u.woff) format('woff');
  }

.object {
   padding: 40px; 
    background-color: rgba(53, 53, 53, 0.45);
    border-radius: 20px;
    box-shadow: 0px 3px 28px 1px rgba(0,0,0,0.75);
    color: white;
    display: flex;
    align-items: center;
    transform: scale(1);
    transition: all 0.15s ease-in;
}

.object:hover {
    box-shadow: 0px 3px 32px 1px rgba(0,0,0,0.9);
    background-color: rgba(53, 53, 53, 0.55);
    transform: scale(1.01);
    transition: all 0.31s ease-out;
}

.object-container {
    position: relative; 
    padding: 40px;
}


.object__bg {
    position: absolute;
    display: block;
    z-index: -1;
    top: 0;
    left: -10vw;
    width: 120vw;
    /* min-height: 100px; */
    height: 80%;
    background-position: center;
    background-size: cover;
    background-color: #353535;
    opacity: 1;
    /* filter: blur(180px) saturate(2) hue-rotate(0deg); */
    transition: all 1.5s ease-out;
    /* transform: translate3d(0,0,0);   */
    will-change: opacity;
}  

.object__bg--hue-rotate {
    opacity: 0;
}
/* 
.object__bg:hover {
    filter: blur(180px) saturate(2) hue-rotate(45deg);
    transition: all 3s ease-in;
}
 */

.object-container:hover .object__bg,
.object-container:focus .object__bg {
    opacity: 0;
    transition: all 3s ease-in;
}

.object-container:hover .object__bg--hue-rotate,
.object-container:focus .object__bg--hue-rotate {
    opacity: 1;
    transition: all 3s ease-in;
}


.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
 width:  200px;   
}